@use './vars.scss';

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 20px 48px 20px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow var(----theme-switch-speed);
  box-shadow: none;

  @include vars.w {
    height: vars.size(64);
    padding: vars.size(20) vars.size(48) vars.size(20) vars.size(48);
  }


  .logo {
    width: 40px;
    height: 40px;
    stroke: var(--icon-color);
    transition: stroke var(----theme-switch-speed);

    @include vars.w {
      width: vars.size(40);
      height: vars.size(40);
    }

    path {
      stroke: var(--toggle-icon-color);
      transition: stroke var(----theme-switch-speed);
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 45;

    @include vars.w {
      height: vars.size(40);
      gap: vars.size(45);
    }

    .rightIcons {
      display: flex;
      align-items: center;
      gap: 16px;

      svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
        fill: var(--toggle-icon-color);
        transition: fill var(--hover-speed);

        @include vars.hover {
          &:hover {
            fill: var(--primary-hover-color);
          }
        }
      }
    }
  }

  &.active {
    background-color: var(--bg-header);
    box-shadow: var(--box-shadow);
  }
}

.item {
  border-radius: var(--border-radius);
  background: var(--bg-item);
  color: var(--primary-text);
  padding: 48px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include vars.w {
    padding: vars.size(48);
    font-size: vars.sizem(16);
  }
}

.themeToggler {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-text);

  p,
  span {
    font-size: 16px;
    margin-left: 10px;
    color: var(--primary-text);
    transition: color var(--hover-speed);

    @include vars.w {
      font-size: vars.size(16);
      margin-left: vars.size(10);
    }

  }

  .toggleIcon,
  .deviceItem {

    path,
    ellipse {
      fill: var(--toggle-icon-color);
      transition: fill var(--hover-speed);
    }
  }

  @include vars.hover {
    &:hover {

      p,
      span {
        color: var(--primary-hover-color);
      }

      path,
      ellipse {
        fill: var(--primary-hover-color);
      }
    }
  }
}